.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
	display: none;
}
html, body {
	background-color: #000000;
	font-family: "Montserrat", "sans-serif";
}

#title_band{
	height: 0px;
	width: 100%;
	background-color: #000000;
	position: relative;


}

#title{
	padding-top: 230px;
	color: #ffffff;
	text-align: center;
	font-size: 86px;

}

#hero-image{
	height: 950px;
	width: 100%;
	background-color: #000000;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  	/*opacity: 0.7;
  	filter: alpha(opacity=70); /* For IE8 and earlier */
  	position: relative;
  }

  .box.has-advanced-upload {
  	background-color: white;
  	outline: 2px dashed black;
  	outline-offset: -10px;
  }

  #x{

  	margin: auto;
  	margin-top: 50px;
  	width: 30%;
  	padding: 40px 30px 40px 130px;
  	border: 3px solid #3C2F3D;
  }
